{% load static %}

<nav class="navbar navbar-light" style="background-color: lightskyblue">
  <div class="container">
    <a class="navbar-brand" href="{% url 'posts:index' %}">
      <img src="{% static 'img/logo.png' %}" width="30" height="30" class="d-inline-block align-top" alt="">
      <span style="color:red">Ya</span>tube
    </a>

    <!--<form class="form-inline my-2 my-lg-0" action="{% url 'posts:posts_search' %}">
      <input class="form-inline" type="search" placeholder="Искать здесь..." aria-label="Search" name="search">
      <button class="btn btn-primary" type="submit">Поиск</button>
    </form>-->

      <ul class="nav nav-pills">

        {% with request.resolver_match.view_name as view_name %}

        <li class="nav-item"> 
          <a class="nav-link {% if view_name  == 'about:about_author' %}
          active{% endif %}" href="{% url 'about:about_author' %}">Об авторе</a>
        </li>
        <li class="nav-item">
          <a class="nav-link {% if view_name  == 'about:tech' %}
          active{% endif %}" href="{% url 'about:tech' %}">Технологии</a>
        </li>

        {% endwith %}
      {% if user.is_authenticated %}
        {% with request.resolver_match.view_name as view_name %}
        <li class="nav-item">
        <a class="nav-link {% if view_name  == 'posts:post_create' %}
           active{% endif %}" href="{% url 'posts:post_create' %}">Новая запись</a>
        </li>
        {% endwith %}
        {% with request.resolver_match.view_name as view_name %}
        <li class="nav-item">
          <a class="nav-link {% if view_name  == 'users:password_change_form' %}
          active{% endif %}" href="{% url 'users:password_change_form' user.id %}">Сменить пароль</a>
        </li>
        {% endwith %}
        {% with request.resolver_match.view_name as view_name %}
        <li class="nav-item">
          <a class="nav-link {% if view_name  == 'users:logout' %}
          active{% endif %}" href="{% url 'users:logout' %}">Выйти</a>
        </li>
        {% endwith %}

      {% else %}
        {% with request.resolver_match.view_name as view_name %}
        <li class="nav-item">
          <a class="nav-link {% if view_name  == 'users:login' %}
          active{% endif %}" href="{% url 'users:login' %}">Войти</a>
        {% endwith %}
        </li>
        {% with request.resolver_match.view_name as view_name %}
        <li class="nav-item">
           <a class="nav-link {% if view_name  == 'users:registration' %}
          active{% endif %}" href="{% url 'users:registration' %}">Регистрация</a>
        </li>

        

        {% endwith %}
      {% endif %}
      
      <form class="form-inline" action="{% url 'posts:posts_search' %}">
        <input class="form-control" type="text" placeholder="Поиск..." aria-label="Search" name="search">
      </form>

    </ul>
  </div>
</nav>





