{% extends 'base.html' %}

{% load static %}

{% block content %}
<div class="container py-5"> 
  <!--<div class="row justify-content-center">-->
    <div class="col-md-8 p-1">         
      <!--<div class="card-body" align="center">-->
        <h1><font size="7">Технологии</font></h1>
      </div>
      <hr>
        <h3>При создании проекта использовались:</h3>
        <div>
          <li>Django 2.2.19</li>
          <li>Python 3.9</li>
          <li>Postgresql</li>
        </div>
      </article>
      </div>
    </div>
  </div> 
</div> 
{% endblock %}
