{% extends 'base.html' %}

{% load static %}

{% load socialaccount %}

{% block content %}
<div class="container py-5"> 
  <div class="row justify-content-center">
    <div class="col-md-8 p-5">
      <div class="card">
        <div class="card-header">
          Войти на сайт
        </div>
        <div class="card-body">
          <form method="post" action="{% url 'users:login' %}">
            {% csrf_token %}        
            <div class="form-group row my-3">
              {{ form.username.errors }}
              <label for="{{ form.username.id_for_label }}">
                Имя пользователя
                <span class="required text-danger">*</span>
              </label>
                {{ form.username }}
            </div>
            <div class="form-group row my-3">
              {{ form.password.errors }}
              <label for="{{ form.password.id_for_label}}">
                Пароль
                <span class="required text-danger">*</span>
              </label>
              {{ form.password }}
            </div>
            <div class="col-md-6 offset-md-4">
              <button type="submit" class="btn btn-primary">
                Войти
              </button>
              <a href="{% url 'users:password_reset_form' %}" class="btn btn-link">
                Забыли пароль?
              </a>
            </div>
          </form>
        </div> 
      </div>
    <br>    
    <div class="container py-2 d-inline-block">      
      <div class="offset-md-4">
        <p>Войти с помощью:  
    <a class="navbar-brand justify-content-center" href="{% provider_login_url 'github' %}">
      <img src="{% static 'img/Github.png' %}" width="30" height="30" class="d-inline-block align-top" alt="">                 
      <span style="color:black">Git</span>hub
    </a> </p>     
    <!--<a class="navbar-brand justify-content-center" href="{% provider_login_url 'facebook' %}">
      <img src="{% static 'img/facebook.png' %}" width="30" height="30" class="d-inline-block align-top" alt="">                 
      <span style="color:black">Face</span>book
    </a>-->
      </div>
    </div>
  </div>



  </div>
</div>
</div>

{% endblock %}